inogai.com {
	redir https://www.{host}{uri}
}

wakapi.inogai.com {
	reverse_proxy wakapi:3000
}

remark42.inogai.com {
	reverse_proxy remark42:8080
}

litellm.inogai.com {
	reverse_proxy litellm:4000
}

noname.inogai.com {
	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket noname-server:8082 # Serve websocket connections directly to the noname server
	reverse_proxy noname:80
}

noname-server.inogai.com {
	reverse_proxy noname-server:8082 # Fall back for pure websocket connections
}
